:root{
--font-while:#ffffff;
--font-para:#bcc1e2;
--color-navigation:#161824;
--hover-link:rgb(155, 151, 151);
--font-secondary:#d0d6f9;
--font-black:#000000;

}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
